<!DOCTYPE html>
<html>

<head>

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

 <style>
      body {
        font-family: 'Tangerine', serif;
		background-color: ;
        
      } 
	  select {
	   font-size: 15px;
        width: 150px;
        margin: 10px;
    }
    </style>
	
	<title>title</title>
	
</head>


<body>


<h1>Heading</h1>

<form action="/run" method="POST" >

  
  <label for="option">SELECT A LANGUAGE:</label>
   &nbsp&nbsp&nbsp&nbsp&nbsp
  <select id=option  >
  <option value="python">python</option>
  <option value="c">c</option>
  <option value="c++">c++</option>
  <option value="html">html</option>
</select>
  <br><br>
  <center>
  
 <textarea rows="30" cols="100" name="code" >
 ENTER YOUR CODE HERE
</textarea>
<br><br>
 <input type="submit" value="Submit">
 
</form> 



  

</body>

</html>