<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
	<title></title>
	<style>

button{
	background:rgba(255,255,255,1);
	color:rgba(19,51,76,1);
	width:180px;
	height:60px;
	border:1px solid rgba(19,51,76,1);
	font-family:'Quicksand',sans-serif;
	font-size:1.3em;

}

.select_btns{
	margin-left:35%;
	margin-top:5%;
}

button:hover{
	cursor:pointer;
	background:rgba(19,51,76,1);
	color:#fff;
	transition:0.2s;
	border-radius:2px;
}

.heading{
	font-family: 'Quicksand',sans-serif;
	font-size:2em;
	margin-left:37%;
	margin-top:14%;
}

</style>
</head>
<body>
	<div class="heading">Create Account for</div>
<div class="select_btns">
	<a href="/signup-page/Teacher"><button class="t_select_btn"> Teacher</button></a> &nbsp;
	<a href="/signup-page/Student"><button class="s_select_btn"> Student</button></a>
</div>


</body>
</html>
