<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/sign.css')}}">

   <link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
</head>
<body>
<div class="sign_wrap">

<div class="create_text">Create Your New Account</div>

<form class="teacher_form" action="/signup/Teacher" method="POST">
	<input type="text" placeholder="Enter Your Full Name" name="tecname"><br>
	<input type="text" placeholder="Enter Your Id" name="username" style="margin-top:8px;"><br>
	<input type="text" placeholder="Enter College Name" name="clgname" style="margin-top:8px;"><br><br>
<!-- 	<input type="password" placeholder="Set Your Password" name="passwd"><br><br>
 -->	<button class="sign_btn">Create New Account</button>
</form>

</div>
</body>
</html>
