<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/studentdash.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
    <title></title>
</head>

<body>
    <nav>
        <div class="logo">Online Lab</div>
        <div class="dropdown">
  <button class="profile">Profile</button>
  <div class="dropdown-content">
    <a href="#">1602910120</a>
    <a href="#">KIET</a>
    <a href="#">CSE</a>
    <a href="#">Settings</a>

  </div>
</div>
        <a href="/logout"><div class="logout_btn">Log Out</div></a>
    </nav>

<div class="side_menu">
	<ul>
		<li><div>Python</div></li>
		<li><div>C</div></li>
		<li><div>Java</div></li>
	</ul>
</div>

<!-- <div class="btns">
<button class="invite_btn">Invite</button>
<button class="create_lab_btn">Create New Lab</button>
</div> -->
<br/><br/><br/>
<div class="boxes">
	<div class="exp_box">
		<div class="exp_head"> &nbsp; Exp 1: &nbsp; Create a program to print hello world!!!</div>
	</div>
		<a href="/user/Student/run-page " class="solve_btn" style="z-index:100000000;margin-top:40px">Solve</a>
</div>


</body>
</html>
