<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/teacherdash.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300|Quicksand" rel="stylesheet">
    <title></title>
</head>

<body>
    <nav>
        <div class="logo">Online Lab</div>
        <div class="dropdown">
  <button class="profile">Profile</button>
  <div class="dropdown-content">
    <a href="#">1602910120</a>
    <a href="#">Wallet  &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &#8377; &nbsp;0</a>
    <a href="#">Pending</a>
    <a href="#">Settings</a>
    <a href="#">Log Out</a>
  </div>
</div>
        <a href="/logout"><div class="logout_btn">Log Out</div></a>
    </nav>

<div class="side_menu">
	<ul>
		<li><div>Lab 1</div></li>
		<li><div>Lab 2</div></li>
		<li><div>Lab 3</div></li>
	</ul>
</div>

<div class="btns">
<button class="invite_btn">Invite</button>
<a href="/user/Teacher/createlab"><button class="create_lab_btn">Create New Lab</button></a>
</div>

<div class="boxes">
	<div class="exp_box">
		<div class="exp_head"> &nbsp; Exp 1:</div>
	</div>

</div>
		<button class="add_btn">Add</button>



</body>
</html>
